{% load staticfiles %}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>404</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'home/images/favicon.ico' %}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="{% static 'home/css/google-api.css' %}" rel="stylesheet"
          type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'home/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'home/plugins/node-waves/waves.css' %}" rel="stylesheet"/>

    <!-- Custom Css -->
    <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
</head>

<body class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">Sorry :( ..</div>
        <div class="error-message"><br><br><br>You must have user special privileges to access this page.</div>
        <div class="button-place">
            <a href="https://sungardcentral.com/pages/default.aspx" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
        </div>
    </div>

    <!-- Jquery Core Js -->
<script src="{% static 'home/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core Js -->
<script src="{% static 'home/plugins/bootstrap/js/bootstrap.js' %}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{% static 'home/plugins/node-waves/waves.js' %}"></script>
</body>

</html>